---
import { getI18N } from "@/i18n/";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section class="mx-auto w-full max-w-[1400px] p-6 sm:p-20">
  <h3
    class="mx-auto mb-10 text-balance text-center text-xl font-semibold uppercase tracking-wide md:text-4xl"
  >
    {i18n.PREFOOTER_VIDEO_TITLE}
  </h3>
  <a
    href="https://moovitapp.com/index/es/transporte_p%C3%BAblico-La_Farga-Barcelona-site_15405438-362"
    target="_blank"
    class="block rounded-xl shadow-2xl shadow-white/10"
  >
    <img
      src="/mapa-acceso.webp"
      alt={i18n.PREFOOTER_VIDEO_TITLE}
      class="rounded-xl"
    />
  </a>
  <!-- <lite-youtube
    class="rounded-xl shadow-2xl shadow-white/10"
    videoid="acn2dbFnMVQ"
    videotitle={i18n.PREFOOTER_VIDEO_TITLE}></lite-youtube> -->
</section>

<!-- <script>
  import "@justinribeiro/lite-youtube";
</script> -->
